<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Bot Chat</title>
    </head>
    <body>
        <div align="center">
            <h1>Bem vindo a seu olx chat bot, para iniciar o envio para cada região clique no botão iniciar da região desejada.</h1>

            <h2>Florianópolis e região</h2>
            <form action="/floripa">
                <input type="submit" value="Iniciar Florianópolis e região" />
            </form>

            <h2>Oeste de Santa Catarina</h2>
            <form action="/oeste">
                <input type="submit" value="Iniciar Oeste de Santa Catarina" />
            </form>

            <h2>Norte de Santa Catarina</h2>
            <form action="/norte">
                <input type="submit" value="Iniciar Norte de Santa Catarina" />
            </form>
        </div>
    </body>
</html>